In [4]:
import sys, os
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
sys.path.insert(0, project_root)

from src.integration import g1, g2, g3, mc_expectation, uniform_sampler
import numpy as np
import time

rng = np.random.default_rng(42)

Ns = [1_000, 10_000, 100_000]
functions = {"g1": g1, "g2": g2, "g3": g3}

results = []

for name, g in functions.items():
    for N in Ns:
        start = time.perf_counter()
        mu_hat, se = mc_expectation(g, uniform_sampler, N, rng)
        duration = time.perf_counter() - start
        
        results.append([name, N, mu_hat, se, duration])

results

import pandas as pd

df = pd.DataFrame(results, columns=["g", "N", "mu_hat", "SE", "runtime_sec"])
df

    g       N    mu_hat        SE  runtime_sec
0  g1    1000  0.663624  0.007539     0.000144
1  g1   10000  0.665838  0.002353     0.006421
2  g1  100000  0.667538  0.000745     0.010257
3  g2    1000  0.762492  0.006435     0.000106
4  g2   10000  0.745616  0.002008     0.000235
5  g2  100000  0.746936  0.000636     0.011169
6  g3    1000  0.595092  0.010176     0.011798
7  g3   10000  0.587098  0.003232     0.000535
8  g3  100000  0.590601  0.001018     0.023033